.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid #eae8df;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 99999;
}

.logo-and-app-name {
  display: flex;
  gap: 12px;
  text-align: center;
}

.logo {
  height: 100%;
}

.logo img {
  height: 100%;
  width: 100%;
}

.app-name {
  font-size: 22px;
  margin: auto;
  text-decoration: underline;
  font-style: oblique;
  font-weight: 600;
}

.links {
  gap: 22px;
  display: flex;
  align-items: center;
}

.app-container {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.text-input-and-controls-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.upload-button-and-sentence-highlight-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.sentence-highlight-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: #111827;
  cursor: pointer;
}

.sentence-highlight-toggle input[type="checkbox"] {
  accent-color: #111827;
  cursor: pointer;
  height: 14px;
  width: 14px;
}

textarea {
  height: 100%;
  width: 100%;
  border-radius: calc(0.5rem - 2px);
  outline-width: 1px;
  resize: vertical;
  padding: 8px 12px;
  border: none;
}

.textarea-wrapper {
  height: 125px;
  border: 1px solid #111827;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 6px;
}

.select-label {
  margin-bottom: 8px;
}

select {
  height: 40px;
  border-radius: 6px;
  padding: 8px 12px;
  margin-bottom: 16px;
}

.upload-file-input {
  display: none;
}

input[type="range"] {
  accent-color: #111827;
  margin-bottom: 16px;
}

.response-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-size: 18px;
  line-height: 1.6;
  padding: 16px;
  background-color: #fff;
}

/* This wrapper div is used specifically to show the border because if we use border-radius and overflow:scroll
 on the same div then top right and bottom right borders gets cut and doesn't appear properly  */
.wrapper {
  border: 1px solid #111827;
  overflow: hidden;
  border-radius: 6px;
  width: 100%;
  height: 500px;
}

.control-buttons {
  display: flex;
  gap: 10px;
}
